.NavScroller {
  display: flex;
  flex-direction: row;

  .menu-items {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  $chevron-padding: 24px;

  .chevron {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left-chevron {
    padding-right: $chevron-padding;
    margin-left: calc(-2 * #{$chevron-padding});
    transform: translateX(calc(100% - #{$chevron-padding}));
    background: linear-gradient(to right, white 50%, transparent);
  }

  .right-chevron {
    padding-left: $chevron-padding;
    margin-right: calc(-2 * #{$chevron-padding});
    transform: translateX(calc(-100% + #{$chevron-padding}));
    background: linear-gradient(to left, white 50%, transparent);
  }
}