.Catalog {
  width: 70vw;

  .title {
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .card {
      width: 12vw;
      border: 1px solid lightgray;
      border-radius: 1rem;
      cursor: pointer;

      .card-annotation {
        padding: 0.5rem;

        .card-title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .card-annotation-body {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 1rem;

          .desc {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}