.Preview {
  .list {
    overflow-y: auto;
    margin: 1rem 0;

    .items {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 1rem;

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .item-card {
          width: 6rem;
          height: 6rem;
          border-radius: 0.8rem;
          cursor: pointer;
        }

        .item-label {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .link {
    color: white;

    .proceed-btn {
      background-color: #E22854;
      text-align: center;
      display: inline-block;
      padding: 1rem 2rem;
      border-radius: 0.6rem;
    }
  }
}