.Wardrobe .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5vw 10vh;

  .cart {
    min-width: 12vw;
    max-height: 80vh;
    overflow-y: auto;
    position: sticky;
    top: 6rem;
    padding-right: 1rem;
  }
}