.Feed {
  display: flex;
  flex-direction: column;

  .landing {
    text-align: center;

    h1 {
      font-size: 3rem;
      margin-top: 14vh;
    }

    input[name=searchbar] {
      width: 50vw;
      font-size: inherit;
      line-height: 3rem;
      padding: 0 1rem;
      border-radius: 1rem;
      border: none;
      outline: none;
      background: lightgray;
    }
  }

  .catalog {
    
  }
}