.Landing {
  position: relative;
  width: 100%;
  height: 100vh;

  .landing-nav a {
    text-decoration: none;
    color: inherit;

    &:hover {
      box-shadow: inset 0 -1px #E22854;
    }

    &:active {
      color: gray;
    }
  }

  .landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      width: 20vw;
      min-width: 180px;
    }

    input[name=searchbar] {
      width: 30vw;
      height: 4vh;
      min-width: 200px;
      border: none;
      outline: none;
      background-color: lightgray;
      border-radius: 0.5rem;
      font-size: inherit;
      padding: 0 1rem;
    }
  }

  .portal {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: inherit;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s linear, visibility 0s;

    &-hide {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s linear, visibility 0.25s;
    }

    @keyframes text-hover {
      from {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-50%);
      }

      to {
        transform: translateY(0%);
      }
    }

    .text {
      animation: text-hover 1.5s infinite;
    }

    .btn {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      border-color: lightgray;
      border-width: 5px;

      &:hover {
        filter: brightness(95%);
      }
    }
  }

  .background {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }
}